.js-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.line-through {
  text-decoration: line-through;
}
.actived {
  background-color: #7fc7ff47;
}
.js-movies ul{
  padding-left: 0;
}
.cancel-edit-button {
  position: absolute;
    right: 105px;
    top: 5px;
    font-weight: 600;
    z-index: 100;
}
.cancel-invisible {
  display: none;
}

.js-modal-action {
  display: block;
}

.custom-nav {
  display: flex;
    flex-direction: column;
    align-items: center;

}
.custom-list {
  margin-bottom: 20px;
}
.custom-card {
  display: flex;
    flex-direction: column;
}
.custom-button-more {
  align-self: flex-end;
    margin-top: auto;
}
.js-card {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
.custom-badge {
  white-space: normal;
}
.custom-pages {
  margin-bottom: 20px;
}